<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2>Login</h2>
    </header>

    <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        
        <p>Don’t have an account? <a href="{{ url_for('routes.signup') }}">Sign up</a></p>
        
        <button type="submit">Login</button>
    </form>


</body>
</html>
