<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2>Staff Dashboard - {{ current_user.name }}</h2>
        <nav>
            <a href="{{ url_for('routes.logout') }}">Logout</a>
        </nav>
    </header>

    <main>
        <h3>All Print Jobs</h3>
        <table>
            <tr>
                <th>File</th>
                <th>Student</th>
                <th>Pages</th>
                <th>Copies</th>
                <th>Color</th>
                <th>Cost</th>
                <th>Status</th>
                <th>Actions</th>
                <th></th> 
            </tr>
            {% for job in jobs %}
            <tr>
                <td><a href="{{ url_for('routes.download', jid=job.id) }}">{{ job.original_filename }}</a></td>
                <td>{{ job.uploader.name }}</td>
                <td>{{ job.pages }}</td>
                <td>{{ job.copies }}</td>
                <td>{{ "Color" if job.color else "B/W" }}</td>
                <td>₹{{ job.cost }}</td>
                <td>{{ job.status }}</td>
                <td>
                    <a href="{{ url_for('routes.update', jid=job.id, status='Printing') }}">Printing</a> | 
                    <a href="{{ url_for('routes.update', jid=job.id, status='Completed') }}">Completed</a>
                </td>
                <td>
                    <a href="{{ url_for('routes.delete', jid=job.id) }}" class="button-delete">Collected</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>